<div class="form-group">
    <label for="moduleCode">Module Code</label>
    <input type="text" id="moduleCode" name="moduleCode" class="form-control" placeholder="Enter Module Code" value="<%= typeof moduleCode != 'undefined' ? moduleCode : '' %>" />
</div>
<div class="form-group">
    <label for="moduleName">Module Name</label>
    <input type="text" id="moduleName" name="moduleName" class="form-control"
        placeholder="Enter Module Name" value="<%= typeof moduleName != 'undefined' ? moduleName : '' %>" />
</div>
<div class="form-group">
    <label for="moduleName">Module School</label>
    <input type="text" id="moduleSchool" name="moduleSchool" class="form-control" placeholder="Enter Module School"
        value="<%= typeof moduleName != 'undefined' ? moduleName : '' %>" />
</div>
<button type="submit" class="btn btn-primary btn-xs">Save</button>
<a href="/experience" class="btn btn-secondary btn-xs">Cancel</a>

