<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Mobius Page</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark" >
        <span class="navbar-brand mb-0 h1"><a class="navbar-brand" href="/exLandingPage">Mobius Page</a></span>

        <ul class="nav navbar-nav navbar-right">          
            <% if(typeof name != 'undefined'){ %>
                <li style="color: white;">
                    Signed In As <%= name %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                    <% if(LoginUser.admin == true){ %>
                    <a href="/users/register_admin" style="color: white;">Register Users</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <% }; %>
                    <a href="/users/logout">Logout</a>
                </li>

            <% }; %>
        </ul>

      </nav>
 
    <div class="container">
        <%- body %>
    </div>
<br/>
<br/>
<br/>
<div style="height: 50px; width: 100%; background-color: white; color: black; text-align: center;">
    Copyright &copy; Mobius Page. All rights reserved.
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>