<link rel="stylesheet" href="css/playbook.css">
<script src="scripts/playbook.js"></script>


<body>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <!-- Bread Crumb -->
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/exLandingPage">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">PlayBook</li>
        </ol>
    </div>

    <!-- Header -->
    <header class="w3-container w3-teal w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">PlayBook</h1>
        <p class="w3-xlarge">LXD Project</p>
        <!--<button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>-->
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <!-- <div class="w3-twothird"> -->
            <h1>NYP LXD PlayBook</h1>
            <h5 class="w3-padding-32">
                <ul>
                    <li>Since 2017, Nanyang Polytechnic (NYP) has been promoting the use of LXD in creating engaging lessons.
                    </li> <br>
                    <li>XD is essentially a consolidation of the best practices of Instructional Design, educational pedagogy, neuroscience, social sciences, design thinking, and User Experience Design.</li> <br>
                    <li>The NYP LXD workgroup defines LXD as “creating Meaningful, Motivational and Memorable learning experiences that address the needs of learners and achieve the Learning Outcomes”.</li><br>
                    <li>This definition supports NYP’s philosophy of creating engaging & effective teaching & learning (EETL), with the objective of encouraging active learning and the development of deep skills and mastery.
                    </li>
                    <br>

                    <a href="#Annex">Please refer to Annex A</a>
                </ul>

                <!-- </h5>

            <h5 class="w3-padding-32"> -->
                <ul>
                    <li>In the T&L abstraction layer that describes this EETL model, 6 dimensions are defined; Context, Learning Environment, Scaffolds & Challenges, Learning Activities, Assessments and Feedback. LXD as an instructional design strategy is
                        one of two pillars that undergirds and supports all 6 dimensions of NYP’s EETL model.</li>
                    <br>
                    <li>This framework sets out strategies and action plans to encourage the practice of LXD and to enhance staff capabilities in LXD.</li>
                    <br>
                    <li>The NYP LXD workgroup defines LXD as “creating Meaningful, Motivational and Memorable learning experiences that address the needs of learners and achieve the Learning Outcomes”.</li>
                    <br>
                    <li>LXD terms used in this paper has been compiled in a glossary. </li>
                    <ul>
                        <li><a href="#Annex">Please refer to Annex B</a></li>
                    </ul>
                </ul>
            </h5>
            <!-- </div> -->

            <!-- <div class="w3-third w3-center">
                <img src="images/.jpg">
            </div> -->
        </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">

            <div class="w3-quarter w3-center">
                <img alt="Poster" src="/images/learning_experience.png">
                <img alt="Poster" src="/images/3.png">
            </div>
            <div class="w3-threequarter">
                <h1>THE NYP LEARNING EXPERIENCE DESIGN (LXD) FRAMEWORK</h1>
                <h5 class="w3-padding-32">8 The objective of the NYP LXD Framework is to imbue LXD as part of NYP’s T&L DNA through advancing staff capabilities, encouraging evidence-based practice and use of LXD methodology.
                </h5>

                <div class="w3-text-grey">
                    <p>Three Key Strategies for advancing LXD in NYP are:</p>
                    <ol>
                        <li>Application of an LXD methodology that is learner centric, evidence-based and promotes continuous refinement,</li>
                        <li>
                            Enhancing staff competency through development and
                        </li>
                        <li>
                            Encouraging practice of LXD through sharing of knowledge, experience & resources.
                        </li>
                    </ol>
                </div>
                <img alt="Poster" src="/images/LXD_Framework.jpg">
            </div>
        </div>

    </div>

    <!-- Third Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-threequarter">
                <h1>Application of Methodology</h1>
                <h5 class="w3-padding-32">
                    <ul>
                        <li>An LXD methodology that will increase learner engagement is to be learner-centric, evidence-based and promotes continuous refinement.</li> <br>
                        <img alt="Poster" src="/images/Application_Methodology.jpg"> <br>
                        <li>A learner-centric design requires partnering with learners to co-create better learning experiences. Some micro-strategies include applying ‘learner empathy’ methods such as empathy mapping, focus groups, surveys, ethnographic
                            research and journey mapping.</li> <br>
                        <li>A design process that is backed by evidence leads to a more well-balanced learner experience design. Examples of evidence-based design include performing formative assessments, reviewing of module evaluation feedback and employing
                            data analytics when applicable.
                        </li> <br>
                        <li>Reflection and iteration using timely feedback is an important aspect of Learning Experience Design. Examples of reflection and iteration methods include Kolb’s Reflective Model. A deliberate reflective and iteration process is
                            consistent with NYP’s quality and process standard of performing module review for improvement. This process has the impact of improving an educator’s proficiency in engaging learners. </li> <br>
                        <li>The LXD Framework to be employed will put in place a structured methodology and set of checklists that facilitate and monitor the use of learner-centric design, the consideration of data and the inclusion of a reflective and iteration
                            stage in the design of learning in NYP.
                        </li>
                        <br>

                    </ul>


                </h5>
            </div>

            <div class="w3-quarter w3-center">
                <br><br><br>
                <img alt="Poster" src="/images/method.png">
            </div>
        </div>
    </div>

    <!-- Fourth Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">

            <div class="w3-quarter w3-center">
                <img alt="Poster" src="/images/3.png">
            </div>

            <div class="w3-threequarter">
                <h1>Enhancing Competencies</h1>
                <h5 class="w3-padding-32">There are two main micro-strategies in enhancing staff competencies in LXD; developing capabilities and deepening expertise.</h5>

                <div class="w3-text-grey">
                    <ol>
                        <li>To develop staff capabilities, an LXD Competency Roadmap collating necessary proficiencies to fulfil specific tasks in the LXD methodology will be developed. These specific tasks include learner profiling, setting learning goals,
                            ideation and design of lessons, delivery of lesson, evaluation and refinement. The purpose of the competency roadmap is to equip staff with the necessary skillsets through continuing professional development and train-the-trainer
                            programmes.
                        </li><br>
                        <li>
                            For staff who are already competent in their practice of LXD, they are encouraged to deepen their expertise through action research, inspire the larger T&L community through public sharing of their research or by applying LXD collaboratively with industries
                            to develop value-add in learning.
                        </li>

                    </ol>
                </div>
            </div>
        </div>

    </div>

    <!-- Fifth Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-threequarter">
                <h1>Encouraging Practice</h1>
                <h5 class="w3-padding-32">
                    <ul>
                        <li>18 The third strategy of the LXD Framework is in encouraging practice, through two micro-strategies of creating a community of practice and in providing resources.</li> <br>
                        <li>19 The LXDWG will facilitate the creation and maintenance of a platform to facilitate lecturers’ sharing of concerns, passions, and best practices, to encourage collaboration and peer review, in order to strengthen the network
                            of knowledge.</li> <br>
                        <li>20 Useful resources that will facilitate the application of LXD includes an LXD Checklist, LXD Tools and LXD repository, which will be made accessible. The LXD Checklist provides a consolidation of instructions and examples to
                            guide staff through the various steps of designing engaging experiences for learners. Staff will be encouraged to use lesson design aid(s), or LXD Tools. Such tools facilitate the design of learning experiences by providing
                            a structured, systematic approach to applying LXD. An example of an LXD tool is the LX Canvas. A repository of LXD exemplars and case studies will be made accessible for better sharing of ideas.</li>
                    </ul>

                </h5>
            </div>

            <div class="w3-quarter w3-center">
                <br><br><br>

            </div>
        </div>
    </div>

    <div class="w3-container w3-black  w3-opacity w3-padding-64" id="Annex">
        <h1 class="w3-margin w3-xlarge">Annexes</h1>
        <h5 class="w3-padding-15">
            <ul>
                <li>
                    <a href="/annex_EETL" style="color: white;">
                        Annex A : NYP EETL Model
                    </a>

                </li>
                <li>
                    <a href="/annex_glossary" style="color: white;">
                        Annex B : Glossary Of LXD Definations
                    </a>

                </li>
                <li>
                    <a href=" /annex_micro_strat " style="color: white;"> Annex C : Micro Strategies of LXD Framework
                    </a>

                </li>
            </ul>
        </h5>

    </div>

    <!-- Footer -->
    <footer class=" w3-container w3-padding-64 w3-center w3-opacity">
        <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
        </p>
    </footer>

